<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069679728602-79mu3fdga0rudmq743nc9oi7g1103pdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069679728602-79mu3fdga0rudmq743nc9oi7g1103pdn</string>
	<key>API_KEY</key>
	<string>AIzaSyB5x8siCEi9sIxxAzoIAGHsfnXBzMhnsL4</string>
	<key>GCM_SENDER_ID</key>
	<string>1069679728602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aycaakman.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-32d73</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-32d73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069679728602:ios:b3b51d22a01043ff8ed2e3</string>
</dict>
</plist>